<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset='utf-8'>
    <meta name="description" content="拼音 : ">
    <meta name="author" content="胡嘉偉">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <link rel="stylesheet" href="assets/css/mycss.css">
    <link rel="stylesheet" href="assets/css/angular-motion.min.css">

    <!-- Fav and touch icons -->
    <!-- Update these with your own images-->
    <link rel="shortcut icon" href="http://wuciawe.github.io/favicon.ico">
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/ZeroClipboard.min.js"></script>
    <script src="assets/js/ngclip.min.js"></script>
    <script src="assets/js/angular-strap.min.js"></script>
    <script src="assets/js/angular-strap.tpl.min.js"></script>
    <script src="assets/js/ng-script.min.js"></script>
    <title>拼音錄入</title>
</head>
<body data-ng-app="myApp">


<header class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="/">The Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
            <p class="navbar-text" style="color: #ffffff;"><strong>拼音錄入</strong> Enjoy it!</p>
        </div>
    </div>
</header>

<script type="text/ng-template" id="pi1">
    <div class="popover" tabindex="-1">
        <div class="arrow"></div>
        <h3 class="popover-title">拼音與例字錄入</h3>
        <div class="popover-content">
            <form name="popoverForm">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">拼音：</div>
                        <input class="form-control" type="text" ng-model="ele.vl">
                    </div>
                    <p>例字格式：字與拼音之間用<span class="label label-danger">空格</span>隔開，字與字之間用<span class="label label-danger">英文逗號</span>隔開。</p>
                    <div><strong>注意：</strong>例字嚴格按照格式輸入</div>
                    <div class="input-group">
                        <div class="input-group-addon">例字：</div>
                        <input class="form-control" type="text" placeholder="例如：我 wo,妳 ni,伊 yi" ng-model="ele.exs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="pi2">
    <div class="popover" tabindex="-1">
        <div class="arrow"></div>
        <h3 class="popover-title">添加韻類別</h3>
        <div class="popover-content">
            <form name="popoverForm2" novalidate class="css-form">
                <label>韻類別：</label><input type="text" ng-model="vcname" placeholder="開口韻" required />
            </form>
            <div class="form-actions pull-right">
                <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="!popoverForm2.$valid" ng-click="popover.saved=true;$hide();mkCat(vcname)">OK</button>
            </div>
        </div>
    </div>
</script>

<div class="container" ng-controller="rmzController">
    <div class="row">
        <div class="col-md-12">
            <form name="form" novalidate class="css-form">
                <h2>
                    <div class="input-group">

                    <input type="text" ng-model="tableData.name" placeholder="上海" required /> 音素表與拼音方案
                        <div class="input-group-btn">
                            <button class="btn btn-info" ng-click="refreshTable()">Refresh Page</button>
                        </div>
                </div>
                </h2>
            </form>
            <h3>聲母</h3>

            <table>
                <thead>
                <tr ng-repeat="row in tableData.consonants.head">
                    <th ng-if="$first" rowspan="{{ tableData.consonants.headsize.rows }}" colspan="{{ tableData.consonants.headsize.cols }}"></th>
                    <th ng-repeat="ele in row.cells" rowspan="{{ ele.rspan }}" colspan="{{ ele.cspan }}">{{ ele.vl }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableData.consonants.body">
                    <td ng-repeat="ele in row.elements" rowspan="{{ ele.rspan }}" colspan="{{ ele.cspan }}" ng-class="{'rl':ele.corder < 0 || ele.corder % 2 == 0, 'pr': ele.corder >= 0 && ele.corder % 2 != 0, 'pl': ele.corder >= 0 && ele.corder % 2 == 0, 'vg':col.vl == ''}">
                        <span ng-if="ele.corder < 0">{{ ele.vl }}</span>
                        <input ng-if="ele.corder > 0 && ele.corder % 2 != 0" type="text" ng-model="ele.vl"/>
                        <a ng-if="ele.corder > 0 && ele.corder % 2 == 0" href="#" data-template="pi1" data-placement="top" data-container = 'body' data-animation="am-flip-x" data-auto-close="1" bs-popover>
                            <div>
                                {{ele.vl}}
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>韻母</h3>
            <table>
                <thead>
                <tr ng-repeat="row in tableData.vowels.head">
                    <th ng-if="$first" rowspan="{{ tableData.vowels.headsize.rows }}" colspan="{{ tableData.vowels.headsize.cols }}"></th>
                    <th ng-repeat="ele in row.cells" rowspan="{{ ele.rspan }}" colspan="{{ ele.cspan }}">{{ ele.vl }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="cat in tableData.vowels.cats">
                    <td class="rl" rowspan="{{ cat.cat.rspan + 1 }}" colspan="{{ cat.cat.cspan }}">{{ cat.cat.vl }}</td>
                    <td ng-repeat="ele in cat.body[0].elements" rowspan="{{ ele.rspan }}" colspan="{{ ele.cspan }}" ng-class="{'rl':ele.corder % 2 == 0, 'pr': ele.corder % 2 != 0, 'pl': ele.corder % 2 == 0, 'vg':col.vl == ''}">
                        <span ng-if="ele.corder < 0">{{ ele.vl }}</span>
                        <input ng-if="ele.corder > 0 && ele.corder % 2 != 0" type="text" ng-model="ele.vl"/>
                        <a ng-if="ele.corder > 0 && ele.corder % 2 == 0" href="#" data-template="pi1" data-placement="top" data-container = 'body' data-animation="am-flip-x" data-auto-close="1" bs-popover>
                            <div>
                                {{ele.vl}}
                            </div>
                        </a>
                    </td>
                </tr>
                <!-- Now add Details row: -->
                <tr ng-if="!$first" ng-repeat="row in cat.body">
                    <td ng-repeat="ele in row.elements" rowspan="{{ ele.rspan }}" colspan="{{ ele.cspan }}" ng-class="{'rl':ele.corder % 2 == 0, 'pr': ele.corder % 2 != 0, 'pl': ele.corder % 2 == 0, 'vg':col.vl == ''}">
                        <span ng-if="ele.corder < 0">{{ ele.vl }}</span>
                        <input ng-if="ele.corder > 0 && ele.corder % 2 != 0" type="text" ng-model="ele.vl"/>
                        <a ng-if="ele.corder > 0 && ele.corder % 2 == 0" href="#" data-template="pi1" data-placement="top" data-container = 'body' data-animation="am-flip-x" data-auto-close="1" bs-popover>
                            <div>
                                {{ele.vl}}
                            </div>
                        </a>
                    </td>
                </tr>
                <tr ng-repeat-end>
                    <td colspan="4">
                        <button type="button" class="btn btn-block btn-sm btn-info" ng-click="mkRow(cat)">
                            添加行
                        </button>
                    </td>
                    <td colspan="4">
                        <button type="button" class="btn btn-block btn-sm btn-danger" ng-click="rmRow(cat)">
                            刪除行
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <button type="button" class="btn btn-block btn-sm btn-info" data-template="pi2" data-placement="top" data-container = 'body' data-animation="am-flip-x" bs-popover>
                            添加韻類別
                        </button>
                    </td>
                    <td colspan="4">
                        <button type="button" class="btn btn-block btn-sm btn-danger" ng-click="rmCat()">
                            刪除韻類別
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button ng-if="form.$valid" class="btn btn-info" clip-click-fallback="fallback(copy)" clip-copy="tableData | json" clip-click="suc()">
                Copy Into Clipboard
            </button>
            <pre ng-if="form.$valid">{{tableData | json}}</pre>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-8">
                <p class="copyright">拼音錄入 maintained by <a href="https://github.com/wuciawe">wuciawe</a></p>
                <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-53727567-5");
        pageTracker._trackPageview();
    } catch(err) {}
</script>

</body>
</html>